%h1 Neuen Job inserieren

= link_to("zurück", :root)

= simple_form_for @job do |f|
    = f.input :position, label: "Position"
    %br/
    = f.input :description, :as => :text, label: "Beschreibung"
    %br/
    = f.input :responsibilities, :as => :text, label: "Aufgaben"
    %br/
    = f.input :requirements, :as => :text, label: "Anforderungen" 
    %br/ 
    = f.input :offers, :as => :text, label: "Wir bieten" 
    %br/ 
    = f.input :how_to_apply, :as => :text, label: "Wie du dich bewirbst"
    %br/
    = f.input :apply_url, label: "Bewerbungs URL"
    %br/ 
    = f.input :apply_mail, label: "Bewerbungs E-Mail"
    %br/ 
    = f.label :apply_date, "Bewerbungsschluss"
    = f.date_select :apply_date
    %br/ 
    = submit_tag "Senden"

