%h1 Neuen Job inserieren

= link_to("zurück", :root)

= form_for @job, validate: true do |f|
    = render "partials/error_messages", :target => @job 
    = f.label :position, "Position"
    = f.text_field :position, required: true
    %br/
    %br/
    = f.label :description, "Beschreibung"
    = f.text_area :description, required: true
    %br/
    %br/
    = f.label :responsibilities, "Aufgaben"
    = f.text_area :responsibilities
    %br/
    %br/
    = f.label :requirements, "Anforderungen"
    = f.text_area :requirements
    %br/ 
    %br/
    = f.label :offers, "Wir bieten"
    = f.text_area :offers
    %br/ 
    %br/
    = f.label :how_to_apply, "Wie du dich bewirbst"
    = f.text_area :how_to_apply
    %br/
    %br/
    = f.label :apply_url, "Bewerbungslink"
    = f.url_field :apply_url
    %br/ 
    %br/
    = f.label :apply_mail, "Bewerbungs E-Mail"
    = f.email_field :apply_mail
    %br/ 
    %br/
    = f.label :apply_date, "Bewerbungsschluss"
    = f.date_field :apply_date
    %br/ 
    %br/
    = f.label :category_id, "Kategorie"
    = f.select :category_id, @categories.map { |c| [c.name, c.id] }
    %br/ 
    %br/
    = f.label :type_id, "Art"
    = f.select :type_id, @types.map { |c| [c.name, c.id] }
    %br/
    %br/
    = f.label :address, "Standort"
    = f.text_field :address
    %br/
    %br/
    = f.label :highlight, "Post hervorheben?"
    = f.check_box :highlight, {}, "true", "false"
    %br/
    %br/
    = f.fields_for :company do |c|
        = c.label :name, "Firmenname"
        = c.text_field :name, required: true
        %br/
        = c.label :mail, "E-Mail Adresse"
        = c.email_field :mail, required: true
        %br/
        = c.label :logo, "Firmenlogo"
        = c.file_field :logo
        %br/
        %br/
    = submit_tag "Senden"

