%h1= sanitize @job.position
= link_to("zurück", @previous_url)
%br/
%br/
- if @job.company.logo.attached?
    = image_tag(@job.company.logo_small)
%br/
%b Firma:
%span= sanitize @job.company.name
%br/
%b E-Mail:
%span= sanitize @job.company.mail
%br/
%br/
%b Beschreibung:
%p= sanitize @job.description
%br/

%b Aufgaben:
%p= sanitize @job.responsibilities
%br/

%b Anforderungen:
%p= sanitize @job.requirements
%br/

%b Wir bieten:
%p= sanitize @job.offers 
%br/

%b Wie Sie sich bewerben:
%p= sanitize @job.how_to_apply
%br/

%b Kategorie:
%span= @category.name
%br/

%b Art:
%span= @type.name
%br/

%b Bewerbungsschluss:
%span= @job.apply_date




