= title "#{sanitize @job.position}" " - " "#{sanitize @job.address}"
= meta_tag :description, "Stellenangebot: " "#{sanitize @job.company.name}" " sucht einen / eine "  "#{sanitize @job.position}" " in " "#{sanitize @job.address}"". Jetzt bewerben ✓"

= render partial: "partials/header--dark"

%section.jobIntro
    .wrapper
        .jobIntro__meta
            %span.category= @category.name
            %span.jobtype= @type.name
        %h1.h1.h1--jobhead= sanitize @job.position
        .jobIntro__logo
            - if @job.company.logo.attached?
                = image_tag(@job.company.logo_medium, alt: "geo-company-logo")
            - else
                %span Kein Logo

%section.jobDescription
    .wrapper
        .jobDescription__copy      
            %h2.h2 Beschreibung:
            %p.p= sanitize @job.description

            - if @job.responsibilities.present?
                %h2.h2 Aufgaben:
                %p.p= sanitize @job.responsibilities
            
            - if @job.requirements.present?
                %h2.h2 Anforderungen:
                %p.p= sanitize @job.requirements

            - if @job.offers.present?
                %h2.h2 Wir bieten:
                %p.p= sanitize @job.offers 

            - if @job.how_to_apply.present?
                %h2.h2 Wie Sie sich bewerben:
                %p.p= sanitize @job.how_to_apply           

        .jobDescription__sidebar
            %h2.h2.h2--sidebar Firma:
            %span= sanitize @job.company.name

            %h2.h2.h2--sidebar Standort: 
            %span= sanitize @job.address

            - if @job.apply_date.present?
                %h2.h2.h2--sidebar Bewerbungsschluss:
                %span= @job.apply_date.strftime("%d.%m.%Y")

            - if @job.apply_mail.present?
                %h2.h2.h2--sidebar E-Mail Kontakt:
                %span= sanitize @job.apply_mail

            -if @job.apply_url.present?
                = link_to("Jetzt bewerben", "#{@job.apply_url}", target: "_blank", rel: "noopener")
            - elsif @job.apply_mail.present?
                = mail_to("#{@job.apply_mail}", "Jetzt bewerben")

    %script{type: "application/ld+json"}
        { "@context": "http://schema.org",
        "@type": "JobPosting",
        "title": "#{@job.position}",
        "datePosted": "#{@job.created_at.strftime("%Y-%m-%d")}",
        "validThrough": "#{@job.apply_date.present? ? @job.apply_date.strftime("%Y-%m-%d") : ""}",
        "image": "#{@job.company.logo.attached? ? "https://terrajobs.de#{url_for(@job.company.logo)}" : ""}",
        "employmentType": "#{@job.type_name == "Vollzeit" ? "full-time" : @job.type_name == "Teilzeit" ? "part-time" : @job.type_name == "Praktikum" ? "internship" : ""}",
        "description": "#{strip_tags(@job.description)}",
        "responsibilities": "#{strip_tags(@job.responsibilities)}",
        "experienceRequirements": "#{strip_tags(@job.requirements)}",
        "incentiveCompensation": "#{strip_tags(@job.offers)}",
        "industry": "#{@job.category.name}",
        "jobLocation": {
        "@type": "Place",
        "address": {
        "@type": "PostalAddress",
        "addressLocality": "#{@job.address}"
        }
        },
        "salaryCurrency": "EUR",
        "hiringOrganization": {
        "@type": "Organization",
        "name": "#{@job.company.name}",
        "logo": "#{@job.company.logo.attached? ? "https://terrajobs.de#{url_for(@job.company.logo)}" : ""}"
        }}

= render partial: "partials/footer"


