%footer.footer
    .wrapper
        .wrapper__item.wrapper__item--copy
            %span.logo
                = link_to "Terrajobs", root_path
            %span.madeWith made with 
            %span in Bochum
            %p.p
                Finde deinen passenden Job in der Geo-, und Umweltbranche. 
                Jobs in den Bereichen Vermessung bis hin zu GIS. 
                Übersichtlich und eingebunden in eine zentrale Community rund um Geojobs.
            .wrapper__item__links
                %ul.list
                    %li.list__item
                        = link_to "Impressum"
                    %li.list__item
                        = link_to "Datenschutz"
        %nav.wrapper__item.wrapper__item--nav
            %ul.list.list--first
                %span.list__head Produkt 
                %li.list__item 
                    = link_to "Jobs finden"
                %li.list__item  
                    = link_to "Commnity" 
                %li.list__item  
                    = link_to "Blog"
                %li.list__item  
                    = link_to "Job inserieren"
            %ul.list.list--second
                %span.list__head Jobs  
                %li.list__item  
                    = link_to "GIS"
                %li.list__item  
                    = link_to "Geographie"
                %li.list__item  
                    = link_to "Geologie"
                %li.list__item  
                    = link_to "Vermessung"
                %li.list__item  
                    = link_to "Green-Jobs"
                %li.list__item  
                    = link_to "Sonstiges"