%footer.footer
    .wrapper
        .wrapper__item.wrapper__item--copy
            %span.logo
                = link_to "Terrajobs", root_path
            %span.madeWith made with 
            %span in Bochum
            %p.p
                Finde deinen passenden Job in der Geo-, und Umweltbranche. 
                Jobs in Bereichen wie Vermessung, GIS oder Nachhaltigkeit. 
                Übersichtlich und eingebunden in eine zentrale Community rund um Geojobs.
            .wrapper__item__links
                %ul.list
                    %li.list__item
                        %span.copyright= "© " "#{Date.today.year}" " Terrajobs"
                    %li.list__item
                        = link_to "Impressum", impressum_path
                    %li.list__item
                        = link_to "Datenschutz", datenschutz_path
        %nav.wrapper__item.wrapper__item--nav
            %ul.list.list--first
                %li.list__item.list__item--head  
                    Produkt 
                %li.list__item 
                    = link_to "Jobs finden", root_path
                %li.list__item  
                    = link_to "Blog", "https://terrajobs.de/blog/"
                %li.list__item  
                    = link_to "Job inserieren", job_inserieren_path
            %ul.list.list--second
                %li.list__item.list__item--head  
                    Jobs suchen  
                %li.list__item  
                    = link_to "GIS Jobs", category_path("gis-jobs")
                %li.list__item  
                    = link_to "Geographie Jobs", category_path("geographie-jobs")
                %li.list__item  
                    = link_to "Geologie Jobs", category_path("geologie-jobs")
                %li.list__item  
                    = link_to "Vermessung Jobs", category_path("vermessung-jobs")
                %li.list__item  
                    = link_to "Green-Jobs", category_path("green-jobs")
                %li.list__item  
                    = link_to "Sonstige Jobs", category_path("sonstige-jobs")
    
    :javascript
        /* Defer CSS File */
        var giftofspeed = document.createElement('link');
        giftofspeed.rel = 'stylesheet';
        giftofspeed.href = 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';
        giftofspeed.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(giftofspeed, godefer);

= render 'cookies_eu/consent_banner'