- if job_listing.highlight == true
    %tr{class: "table__row table__row--highlight", onclick: "window.location='#{job_path(job_listing)}'"}
        %td.table__item.table__item--companylogo
            - if job_listing.company.logo.attached?
                = image_tag(job_listing.company.logo_small, alt: "geo-company-logo")     
        %td.table__item.table__item--jobtitle
            %span= job_listing.company.name
            %h2.h2.h2--jobtitle= job_listing.position
        %td.table__item.table__item--location
            %i.fas.fa-map-marker-alt 
            %span= job_listing.address
        %td.table__item.table__item--jobtype 
            %span= job_listing.type_name
        %td.table__item.table__item--posted
            %span= job_listing.created_at.strftime("%d.%m.%y")
    - if Rails.env.production?
        %script{type: "application/ld+json"}
            { "@context": "http://schema.org",
            "@type": "JobPosting",
            "title": "#{job_listing.position}",
            "datePosted": "#{job_listing.created_at.strftime("%Y-%m-%d")}",
            "validThrough": "#{job_listing.apply_date.present? ? job_listing.apply_date.strftime("%Y-%m-%d") : ""}",
            "image": "#{job_listing.company.logo.attached? ? url_for(job_listing.company.logo) : ""}",
            "employmentType": "#{job_listing.type_name == "Vollzeit" ? "full-time" : job_listing.type_name == "Teilzeit" ? "part-time" : job_listing.type_name == "Praktikum" ? "internship" : ""}",
            "description": "#{job_listing.description}",
            "responsibilities": "#{job_listing.responsibilities}",
            "experienceRequirements": "#{job_listing.requirements}",
            "incentiveCompensation": "#{job_listing.offers}",
            "industry": "#{job_listing.category.name}",
            "jobLocation": {
            "@type": "Place",
            "address": {
            "@type": "PostalAddress",
            "addressLocality": "#{job_listing.address}"
            }
            },
            "salaryCurrency": "EUR",
            "hiringOrganization": {
            "@type": "Organization",
            "name": "#{job_listing.company.name}",
            "logo": "#{job_listing.company.logo.attached? ? job_listing.company.logo.public_url : ""}"
            }}
- else
    %tr{class: "table__row", onclick: "window.location='#{job_path(job_listing)}'"}
        %td.table__item.table__item--companylogo
            - if job_listing.company.logo.attached?
                = image_tag(job_listing.company.logo_small, alt: "geo-company-logo")
        %td.table__item.table__item--jobtitle
            %span= job_listing.company.name
            %h2.h2.h2--jobtitle= job_listing.position
        %td.table__item.table__item--location
            %i.fas.fa-map-marker-alt
            %span= job_listing.address
        %td.table__item.table__item--jobtype 
            %span= job_listing.type_name
        %td.table__item.table__item--posted
            %span= job_listing.created_at.strftime("%d.%m.%y")
    - if Rails.env.production?
        %script{type: "application/ld+json"}
            { "@context": "http://schema.org",
            "@type": "JobPosting",
            "title": "#{job_listing.position}",
            "datePosted": "#{job_listing.created_at.strftime("%Y-%m-%d")}",
            "validThrough": "#{job_listing.apply_date.present? ? job_listing.apply_date.strftime("%Y-%m-%d") : ""}",
            "image": "#{job_listing.company.logo.attached? ? url_for(job_listing.company.logo) : ""}",
            "employmentType": "#{job_listing.type_name == "Vollzeit" ? "full-time" : job_listing.type_name == "Teilzeit" ? "part-time" : job_listing.type_name == "Praktikum" ? "internship" : ""}",
            "description": "#{job_listing.description}",
            "responsibilities": "#{job_listing.responsibilities}",
            "experienceRequirements": "#{job_listing.requirements}",
            "incentiveCompensation": "#{job_listing.offers}",
            "industry": "#{job_listing.category.name}",
            "jobLocation": {
            "@type": "Place",
            "address": {
            "@type": "PostalAddress",
            "addressLocality": "#{job_listing.address}"
            }
            },
            "salaryCurrency": "EUR",
            "hiringOrganization": {
            "@type": "Organization",
            "name": "#{job_listing.company.name}",
            "logo": "#{job_listing.company.logo.attached? ? job_listing.company.logo.public_url : ""}"
            }}


