%h1 Alle Jobs

= link_to("Neuen Job posten", job_inserieren_path)

%ul
- @jobs.each do |job|
    %li= job.position
    %li= job.description
    %li= job.responsibilities
    %li= job.requirements
    %li= job.offers
    %li= job.how_to_apply
    %li= job.apply_url
    %li= job.apply_mail
    %li= job.apply_date
    %br/