%h1 Alle Jobs
= link_to("Neuen Job posten", job_inserieren_path)
%br/
%br/
- @category.each do |category|
    %span= link_to("#{category.name}", category_path(category))
%br/
%br/

%h2 Heute
- @jobs_today.each do |job|
    = render partial: "partials/job_listings", locals: {job: job}  

%h2 Diese Woche
- @jobs_week.each do |job|
    = render partial: "partials/job_listings", locals: {job: job} 

%h2 Diesen Monat
- @jobs_month.each do |job|
    = render partial: "partials/job_listings", locals: {job: job} 

%h2 Länger her
- @jobs.each do |job|
    = render partial: "partials/job_listings", locals: {job: job} 