%h1 Alle Jobs

= link_to("Neuen Job posten", job_inserieren_path)

%ul
- @jobs.each do |job|
    - unless job.position.blank?
        %li= job.position
    - unless job.description.blank?
        %li= job.description
    - unless job.responsibilities.blank?
        %li= job.responsibilities
    - unless job.requirements.blank?
        %li= job.requirements
    - unless job.offers.blank?
        %li= job.offers
    - unless job.how_to_apply.blank?
        %li= job.how_to_apply
    - unless job.apply_url.blank?
        %li= job.apply_url
    - unless job.apply_mail.blank?
        %li= job.apply_mail
    - unless job.apply_date.blank?
        %li= job.apply_date
    %br/