%h1 Alle Jobs
= link_to("Neuen Job posten", job_inserieren_path)
%br/
%br/
- @category.each do |category|
    %span= link_to("#{category.name}", category_path(category))
%br/
%br/
= form_tag root_path, method: :get do
    = text_field_tag :search, nil, placeholder: "Berlin etc.", maxlength: 20
    = submit_tag "Suchen"
  
%h2 Suchergebnisse
- @output.each do |job|
    %h2= job.position


- if @jobs_today.any?
    %h2 Heute
    = render partial: "partials/job_listings", object: @jobs_today

- if @jobs_week.any?
    %h2 Diese Woche
    = render partial: "partials/job_listings", object: @jobs_week

- if @jobs_month.any?
    %h2 Diesen Monat
    = render partial: "partials/job_listings", object: @jobs_month

- if @jobs.any?
    %h2 Älter
    = render partial: "partials/job_listings", object: @jobs