%h1 Alle Jobs
= link_to("Neuen Job posten", job_inserieren_path)
%br/
%br/
- @category.each do |category|
    %span= link_to("#{category.name}", category_path(category))
%br/
%br/
- @jobs.each do |job|
    - if job.highlight == false
        .job-position
            %h2= link_to("#{job.position}", job_path(job))
    - else
        .job-position.highlight
            %h2= link_to("#{job.position}", job_path(job))