- if flash[:notice]
    %h2.h2--notice= flash[:notice]

= render partial: "partials/header"

= render "intro"

.backgroundWrapper
    %section.categories
        .categories__grid
            = render partial: "partials/categories", collection: @category, cached: true
   
    %section.cta
        %h2 Neuer Mitarbeiter gesucht? Jetzt Job veröffentlichen:
        = link_to("Job inserieren - kostenlos", job_inserieren_path) 
            
    %section.jobs{id: "jobs"}
        
        .jobs__search
            = form_tag root_path, method: :get, autocomplete: :off do
                = text_field_tag :search, nil, placeholder: "Berlin etc.", maxlength: 20, class: "jobs__search__input"
                = select_tag :radius, options_for_select([ "10", "20", "40", "60", "100" ]), prompt: "und Umgebung (km)", class: "jobs__search__select"
                = submit_tag "Suchen", name: nil, class: "jobs__search__submit"
        .jobs__listings
            -if params[:search].present?
                %h2.h2 Suchergebnisse:
                -if @jobs.any? || @jobs_today.any? || @jobs_week.any? || @jobs_month.any? 
                    %span= link_to("zurück", root_path)
                    = render partial: "partials/job_table"
                -else
                    %h2.h2 Keine Ergebnisse gefunden für: "#{@search_query}"
                    %p Bitte erneut versuchen oder #{link_to("zurück", root_path)}
            -else
                = render partial: "partials/job_table"

= render "info"

= render partial: "partials/footer"