<!DOCTYPE html>
%html{:lang => "de"}
    %head
        %meta{:charset => "UTF-8"}/
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
        %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "summary", :name => "twitter:card"}/
        %meta{:content => "Geo-Jobs: GIS, Vermessung, Green-Jobs & Mehr", :property => "og:title"}/
        %meta{:content => "Geo-Jobs: GIS, Vermessung, Green-Jobs & Mehr", :property => "twitter:title"}/
        %meta{:content => "Mit Terrajobs finden Sie Jobs aus der Geo- und Umweltbranche. Egal ob GIS, Geographie, Geologie oder auch Green-Jobs. Wir begleiten Sie in Ihrer Geo-Karriere.", :property => "og:description"}/
        %meta{:content => "Mit Terrajobs finden Sie Jobs aus der Geo- und Umweltbranche. Egal ob GIS, Geographie, Geologie oder auch Green-Jobs. Wir begleiten Sie in Ihrer Geo-Karriere.", :property => "twitter:description"}/
        %meta{:content => "https://terrajobs.de", :property => "og:url"}/
        %meta{:content => "/images/apple-touch-icon.png", :property => "og:logo", :size => "180x180"}/
        %title= "#{content_for?(:title) ? "#{yield(:title)+ " | "}" : "" }" "Terrajobs"
        %meta{name: "description", content: "#{yield_meta_tag(:description, "Mit Terrajobs finden Sie Jobs aus der Geo- und Umweltbranche. Egal ob GIS, Geographie, Geologie oder auch Green-Jobs. Wir begleiten Sie in Ihrer Geo-Karriere.") }"}/
        %meta{name: "keywords", content: "#{yield_meta_tag(:keywords, "GIS, Vermessung, Geographie, Geologie, Fernerkundung, Green-Job, Nachhaltigkeit, Jobsuche, Jobs, Job, Stellenangebot, Stellenanzeigen, Arbeit") }"}/
        %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
        %link{:href => "/images/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
        %link{:href => "/images/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
        = favicon_link_tag asset_path('favicon-16x16.png')
        = csrf_meta_tags 
        = csp_meta_tag
        = stylesheet_link_tag "application", media: "all"
        = javascript_include_tag "application", :defer => "defer"
        = javascript_include_tag "rails.validations": "reload", :defer => "defer"
        = javascript_include_tag "https://checkout.stripe.com/checkout.js", :defer => "defer"
        - if Rails.env.production?
            %script{:async => "", :await => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-85998646-3"}
            :javascript
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-85998646-3');
    
    %body
        = yield
